<div class="mx-auto" style="width: 400px;">
<h1>{{message}}</h1>

<p style="color: red;">{{error}}</p>

<form method="post" action="/reset-password?token={{token}}">

    <input type="password" name="password" placeholder="nueva contraseña"/>
    <br/><br/>
    <input type="password" name="passwordrp" placeholder="repita contraseña"/>
    <br/><br/>

    <button class="btn btn-secundary">Cambiar</button>

    </a>
</form>