  <div class="container">
    Chat
        <div class="chat-box" id="chatBox">
        </div>
        <div class="input-box">
            <input type="text" id="message" placeholder="Mensaje">
            <button id="sendMsg">Enviar</button>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/scriptChat.js"></script>
    <link rel="stylesheet" href="/css/chat.css">