<H1>REAL TIME PAGE</H1>

<div class="container">
<form id="productForm" >
    <h2>ADD PRODUCT</h2>    
     <div class="form-group">
        <div class="form-group">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="title"  placeholder="title product" >
        </div>

        <div class="form-group">
        <label for="description" class="form-label">description</label>
        <input type="text" name="description"  class="form-control" id="description"  placeholder="description">
        </div>

        <div class="form-group">
        <label for="price" class="form-label">price</label>
        <input type="text" name="price" class="form-control" id="price"  placeholder="price">
        </div>

        <div class="form-group">
        <label for="code">code</label>
        <input type="text" name="code" class="form-control" id="code"  placeholder="code">
        </div>

        <div class="form-group">
        <label for="stock">stock</label>
        <input type="text" name="stock" class="form-control" id="stock"  placeholder="stock">
        </div>

        
        <div class="form-group">
        <label for="category">category</label>
        <input type="text" name ="category" class="form-control" id="category"  placeholder="category">
        </div>
          <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </div>
</form>



<div id ="productList">
  <!-- INSERT -->
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTime.js"></script>

