<div class="container">
  <h1>Productos en el Carrito</h1>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td>{{this.product.title}}</td>
        <td>{{this.product.category}}</td>
        <td>{{this.product.price}}</td>
        <td>{{this.quantity}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script>""</script>
